p{font-size: 30px; text-align: left; font-family: algerian;color: #f00;}
p.letra{font-size: 12px; text-align: left; font-family: algerian; color: #f00;}
p.v1{font-size: 15px;}
p.v2{font-size: 15px; text-align: center;}
p.v3{font-size: 15px; text-align: right;}